<div id="precaution">
	<div class="mlmr">
		<div id="precaution-head">
			<h1>How to Protect Yourself & Others</h1>
        </div>
        
		<div class="precaution-box">
			<div class="precaution-box-img">
				<img src="./assets/sneeze.png" alt="g1.jpg">
			</div>
			<div class="precaution-box-text">
				<h2>Know how it spreads</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidata</p>
			</div>
        </div>
        
		<div class="precaution-box">
			<div class="precaution-box-img">
				<img src="./assets/hand-wash.jpg" alt="g8.jpg">
			</div>
			<div class="precaution-box-text">
				<h2>Wash your hands often</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidata</p>
			</div>
        </div>
        <div class="precaution-box">
			<div class="precaution-box-img">
				<img src="./assets/distance.png" alt="g8.jpg">
			</div>
			<div class="precaution-box-text">
				<h2>Avoid close contact</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidata</p>
			</div>
        </div>
        <div class="precaution-box">
			<div class="precaution-box-img">
				<img src="./assets/mask.png" alt="g8.jpg">
			</div>
			<div class="precaution-box-text">
				<h2>Cover your mouth and nose with a mask when around others</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidata</p>
			</div>
        </div>
        <div class="precaution-box">
			<div class="precaution-box-img">
				<img src="./assets/tissue.png" alt="g8.jpg">
			</div>
			<div class="precaution-box-text">
				<h2>Cover coughs and sneezes</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidata</p>
			</div>
        </div>
        <div class="precaution-box">
			<div class="precaution-box-img">
				<img src="./assets/spreay.png" alt="g8.jpg">
			</div>
			<div class="precaution-box-text">
				<h2>Cover coughs and sneezes</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidata</p>
			</div>
		</div>
	</div>
</div>